@use '../styles/variables' as *;
@use '../styles/breakpoints' as *;

.section {
    margin-bottom: 0;
    padding: 2rem 0;
    background-color: var(--header-color);

    &:not(:first-child) {
        .header {
            margin-top: -3.6rem;
            position: relative;
            z-index: 2;
            background-color: var(--header-color);
        }
    }
}

.header {
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $tablet;
    margin: 0 1rem;
    border: 1px solid var(--card-text-color);
    border-radius: 99px;
    height: 55px;

    @include tablet {
        margin: auto;
    }

    @include desktop {
        padding: 0 2rem;
    }
}

.titleContainer {
    padding: 0.5rem 1.5rem;
    display: inline-block;

    [data-theme='dark'] & {
        background: transparent;
        border-color: rgba($white, 0.5);
    }
}

.title {
    font-family: $font-primary;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.filters {
    display: flex;
    gap: 0.5rem;
    background: var(--header-color);
    padding: 0.25rem 0.5rem;
    border-radius: 99px;

    [data-theme='dark'] & {
        background: transparent;
        border-color: var(--header-color);
    }
}

.filterBtn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: transform 0.2s;
    opacity: 0.5;

    [data-theme='dark'] & {
        // filter: grayscale(1) brightness(2);
    }

    &:hover {
        transform: scale(1.1);
        opacity: 0.8;
    }

    &.active {
        background: var(--card-text-color);
        opacity: 1;
        width: 50px;
        border-radius: 20px;

        [data-theme='dark'] & {
            color: var(--card-text-color);
        }

        .filterBtnIcon {
            stroke: var(--header-color);

            &.filled {
                fill: var(--header-color);
            }
        }
    }

    .filterBtnIcon {
        stroke: var(--card-text-color);
        fill: none;
        stroke-width: 3;
        stroke-miterlimit: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: stroke 0.3s ease, fill 0.3s ease;

        &.filled {
            fill: var(--card-text-color);
        }
    }
}

.carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 1.5rem;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    max-width: $tablet;
    margin: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    @include desktop {
        padding: 1rem 2rem;
    }
}