// Breakpoints
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1440px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-wide {
    @media (min-width: #{$desktop-wide}) {
        @content;
    }
}