// Colors
$white: #ffffff;
$black: #000000;

// Add your colors here
// example: $primary-color: #ff0000;

// Fonts
$font-primary: var(--font-geist-sans), sans-serif;
$font-secondary: var(--font-geist-mono), monospace;